.cuisine-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  /* gap: 10px; */
}

.cuisine-card img {
  width: 50%;
  border-radius: 2rem;
}

.cuisine-card a {
  text-decoration: none;
}

.cuisine-card h4 {
  text-align: center;
  padding: 1rem;
  width: 50%;
}