.meal-card {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  
  p {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    color: black;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    align-items: center;
    line-height: 1.2rem;
  }
  
  img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
  }

  img:hover {
    transform: scale(1.2);
    z-index: 2;
  }
}
